/*
// variables
*/
/*
// elements
*/
.card-pack {
  height: 200px;
  margin-top: 20px; }

.card {
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  font-size: 9px;
  border-radius: 6px; }
  .card.reg_col {
    display: inline-block;
    float: left;
    width: 150px;
    background: aliceblue;
    margin: 0 10px 10px 0;
    height: 210px; }
  .card--active {
    background: #c0c2c3; }
  .card h4 {
    font-weight: bold;
    font-size: 1.2em; }
  .card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .card:before, .card .value {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #a7a7a7;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    padding: 5px 0 0; }
  .card:before {
    right: 5px;
    left: initial; }
  .card .inc-points {
    padding-left: 25px;
    height: 0; }
    .card .inc-points span {
      position: relative; }
  .card--wrestler:before {
    content: '';
    background: #41BFD6 url("/images/star.svg"); }
  .card--wrestler.heel {
    background: #fff1f1; }
  .card--wrestler.face {
    background: #f1f6ff; }
  .card--wrestler .w_val {
    float: right; }
  .card--wrestler hr {
    margin: 0.1rem 0; }
  .card--gimmick:before {
    content: '';
    background: #DDFF80 url("/images/flash.svg") 4px no-repeat; }
  .card--story:before {
    content: '';
    background: #F08181 url("/images/speech.svg") 2px 4px no-repeat;
    background-size: 85%; }
  .card--news {
    position: absolute;
    top: 70px;
    width: 200px;
    height: 300px;
    left: calc(50% - 50px); }
    .card--news h2 {
      color: #000; }

h2 {
  color: #fff; }
