/*
// variables
*/
/*
// layout
*/
html, body {
  min-height: 100%; }

body {
  background: #000; }

.bg, .bg-tint {
  min-height: 100%;
  position: fixed;
  width: 100%; }

.bg {
  background: url("/images/base.jpg");
  background-size: cover; }

.bg-tint {
  background: rgba(0, 0, 0, 0.5); }

.layout {
  position: relative;
  margin-bottom: 200px; }

.pickbar {
  position: fixed;
  width: calc(100% - 60px);
  display: block;
  top: 0px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px; }

.card.goal-view {
  position: fixed;
  z-index: 100;
  margin: auto;
  width: 250px;
  left: calc(50% - 125px);
  top: 100px;
  min-height: 330px;
  font-size: 14px; }
  .card.goal-view p {
    white-space: initial; }

.player-setup input {
  background: transparent;
  color: white;
  text-transform: uppercase;
  max-width: 140px;
  font-size: 40px; }

.store-link {
  border-top: 70px #41BFD6 solid;
  border-left: 70px transparent solid;
  border-right: 70px transparent solid;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 5;
  left: 10%; }
  .store-link div {
    position: relative;
    top: -60px;
    left: -18px; }
    .store-link div a {
      color: #fff; }

.champ-overview {
  color: #fff; }

.matchcard {
  padding: 20px; }
  .matchcard .match {
    margin-top: 50px;
    opacity: 0.8; }
    .matchcard .match.ready {
      opacity: 1; }
    .matchcard .match .competitor {
      background: rgba(0, 0, 0, 0.35);
      border-bottom: 1px #41BFD6 solid;
      height: 80px; }
      .matchcard .match .competitor .profile {
        border-radius: 100%;
        width: 110px;
        height: 110px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        top: -25px; }
        .matchcard .match .competitor .profile.heel {
          border: 2px #ef5353 solid; }
        .matchcard .match .competitor .profile.face {
          border: 2px #94EDFD solid; }
        .matchcard .match .competitor .profile .win-btn, .matchcard .match .competitor .profile .win-label {
          position: absolute;
          top: 0;
          z-index: 6;
          font-size: 70px;
          width: 100%;
          text-align: center;
          opacity: 0; }
          .matchcard .match .competitor .profile .win-btn:hover, .matchcard .match .competitor .profile .win-label:hover {
            opacity: 1; }
        .matchcard .match .competitor .profile .win-label {
          opacity: 0.2; }
      .matchcard .match .competitor h4 {
        font-size: 40px;
        color: #fff;
        text-transform: uppercase; }
    .matchcard .match .competitor-1 .profile {
      float: left;
      left: -30px; }
    .matchcard .match .competitor-2 .profile {
      float: right;
      left: 30px; }
    .matchcard .match .remove-match {
      padding-top: 30px;
      text-align: right; }
      .matchcard .match .remove-match a {
        color: #fff; }
    .matchcard .match .add-gimmick, .matchcard .match .add-story {
      text-align: center;
      padding: 10px 50px 0; }
      .matchcard .match .add-gimmick div, .matchcard .match .add-story div {
        color: white;
        border-radius: 100px; }
      .matchcard .match .add-gimmick a, .matchcard .match .add-story a {
        color: #fff;
        opacity: 0.5; }
        .matchcard .match .add-gimmick a:hover, .matchcard .match .add-story a:hover {
          opacity: 1; }
    .matchcard .match .add-gimmick div {
      background: #DDFF80;
      color: #777777; }
    .matchcard .match .add-story div {
      background: #F08181; }
    .matchcard .match .inc-points {
      margin-top: -16px; }

.pop {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 250px;
  padding: 10px;
  max-height: 333px;
  overflow: auto;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden; }
  .pop.active {
    opacity: 1;
    visibility: visible; }
  .pop a {
    display: block;
    color: #000; }
  .pop li {
    max-height: 32px;
    margin: 5px 0; }
    .pop li a, .pop li span.hide {
      padding: 5px 0px 2px 35px; }
    .pop li span.hide {
      cursor: not-allowed; }
    .pop li .inc-points {
      float: right;
      position: relative;
      top: 3px; }
    .pop li img {
      width: 30px;
      display: inline-block;
      float: left;
      border-radius: 100px; }
      .pop li img.heel {
        border: 2px #ef5353 solid; }
      .pop li img.face {
        border: 2px #94EDFD solid; }
    .pop li:hover {
      background: #fff; }
    .pop li .world-champion {
      display: block;
      border: 1px black solid;
      padding: 10px;
      margin: 10px;
      font-size: 14px;
      bottom: 5px; }

.champ-belt {
  float: right;
  background: yellow;
  display: inline-block;
  width: 10px;
  border-radius: 100%; }
  .champ-belt.w-champ {
    background: #ef5353; }

.inc-points span {
  width: 10px;
  height: 10px;
  background: #94EDFD;
  display: inline-block;
  border-radius: 100%;
  margin-right: 5px; }

.actions {
  border-top: 1px #41BFD6 solid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2C2C2C;
  padding: 15px;
  font-size: 22px; }
  .actions .listed-champ {
    content: '';
    border-right: 1px #41BFD6 solid;
    transform: rotate(45deg);
    float: right;
    position: relative;
    top: -102px;
    height: 140px;
    margin-bottom: -150px; }
  .actions .column > div {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    padding: 0 10px; }
    .actions .column > div img {
      width: 20px; }
    .actions .column > div.fed img {
      width: 50px;
      float: left; }
    .actions .column > div.fed h4 {
      position: absolute;
      top: 20px;
      font-size: 32px;
      color: #41BFD6; }
    .actions .column > div.world-champion {
      width: 100%; }
      .actions .column > div.world-champion h2 {
        font-size: 20px; }
      .actions .column > div.world-champion img {
        float: left;
        width: 50px;
        border-radius: 50px;
        margin-right: 10px; }

.store {
  height: 0;
  overflow: hidden;
  background: #41BFD6; }
  .store a {
    color: #000; }
  .store .close-store {
    position: fixed;
    right: 40px; }
  .store.is-fullheight {
    height: initial;
    overflow: auto;
    padding: 30px;
    margin: 0; }
  .store ul {
    padding: 0;
    margin: 0; }
  .store .card a {
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    left: 0;
    font-size: 20px;
    color: #41BFD6; }

.wchamp-round {
  padding: 50px;
  color: #fff; }
  .wchamp-round .territory {
    min-height: 200px;
    padding: 40px; }
  .wchamp-round .vote-card {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: center;
    margin-bottom: 10px; }
  .wchamp-round h2 {
    font-size: 32px; }

.summary {
  padding: 50px;
  color: #fff; }
  .summary h2 {
    font-size: 32px; }
  .summary strong {
    color: #fff;
    font-size: 24px; }

.end-cash {
  font-size: 32px;
  padding: 10px 0; }
  .end-cash.winner {
    color: #94EDFD;
    border: 1px red solid;
    border-radius: 100%;
    display: inline-block; }

.fa.top3 {
  position: relative;
  top: 3px; }
