* {
  font-family: sans-serif; }

a {
  color: white;
  background: red; }

body {
  background: #ccc;
  font-size: 10px; }

.box {
  background: grey;
  margin: 10px;
  width: 200px;
  display: inline-block; }

.active {
  border: 1px red solid; }

.assigned, .hide {
  opacity: 0.5; }

.loading {
  background: rgba(128, 128, 128, 0.48);
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%; }

#game > div {
  display: inline-block;
  float: left;
  padding: 1%;
  width: 30%; }
  #game > div:nth-child(1) {
    width: calc(20% - (1% * 2));
    background: #a7a7a7; }
  #game > div:nth-child(2) {
    width: calc(70% - (1% * 2)); }
  #game > div:nth-child(3) {
    width: calc(10% - (1% * 2));
    background: #a7a7a7; }
    #game > div:nth-child(3) h3 {
      font-size: 4em;
      margin: 20px 0; }
    #game > div:nth-child(3) h4 {
      font-size: 2em;
      margin: 0; }

.actions {
  text-align: right;
  border-top: 1px black solid;
  padding-top: 5px; }

.select-card {
  padding: 5px;
  text-align: center;
  width: 800px;
  margin: auto; }
  .select-card.ready {
    border: 2px green solid; }

.card-holder {
  display: inline-block;
  border: 1px dashed;
  width: 160px;
  height: 200px; }
  .card-holder.setup {
    background: #fff;
    border: 1px solid; }
  .card-holder div {
    float: left; }

.summary > div {
  width: 25%;
  display: inline-block;
  float: left; }

.pop {
  position: absolute;
  background: white;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden; }
  .pop.active {
    opacity: 1;
    visibility: visible; }

.errors {
  position: fixed;
  color: white;
  background: rebeccapurple;
  width: calc(100% - 20px);
  left: 0;
  top: 0;
  height: 50px;
  padding: 10px; }

.win {
  border: 2px #58b3b5 solid;
  display: block;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  line-height: 4;
  margin: auto; }

#store {
  background: white;
  position: absolute;
  top: 5%;
  top: -100%;
  height: calc(90% - 20px);
  width: calc(67% - 20px);
  padding: 10px;
  border-radius: 2px;
  transition: top 0.5s; }
  #store.show {
    top: 5%; }
  #store ul {
    padding: 0;
    margin: 0; }
  #store li, #store .card {
    display: inline-block;
    width: 100px;
    border: 1px black solid;
    margin: 0 3px; }

.heel {
  background: #b18a8a; }

.face {
  background: #649d9e; }

.champ:before {
  content: 'champ';
  background: yellow;
  display: block;
  border-radius: 100%; }

small {
  clear: both;
  float: none;
  display: block; }

.overlay {
  background: white;
  position: absolute;
  top: 5%;
  width: 40%;
  left: 30%;
  min-height: 300px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5); }
  .overlay div {
    padding: 10px; }

.champ_belt {
  background: yellow;
  display: inline-block;
  width: 10px;
  border-radius: 100%; }
