// helper classes

.clearfix {
    clear:both;
}
.align_right, .align-right {
    text-align: right;
}
.align-center {
	text-align: center;
}
.d-block {
	display: block;
}
.d-inline {
	display: inline-block;
}
.float-right {
	float: right;
}
.fade {
	opacity: 0.6;
}
.hideit { display: none;}