@import "variables";
/*
// layout
*/

// base, bg and grid
html, body {
	min-height: 100%;
}

body {
	background: #000;
}

.bg, .bg-tint {
	min-height: 100%;
	position: fixed;
	width: 100%;
}

.bg {
	background: url('/images/base.jpg');
	background-size: cover;
}

.bg-tint {
	background: rgba(0, 0, 0, 0.5);
}

.layout {
	position: relative;
    margin-bottom: 200px;
}

// store

.store-link {
    border-top: 70px $active1 solid;
    border-left: 70px transparent solid;
    border-right: 70px transparent solid;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 5;
    left: 10%;
    div {
    	position: relative;
    	top: -60px;
    	left: -18px;
    	a {
    		color: #fff;
    	}
    }
}

.champ-overview {
	color: #fff;
}

// matchcard
.matchcard {
	padding: 20px;
	.match {
		margin-top: 50px;
		opacity: 0.8;
		&.ready {
			opacity: 1;
		}
		
		.competitor {
			background: rgba(0, 0, 0, 0.35);	
			border-bottom: 1px $active1 solid;
			height: 80px;
			.profile {
				border-radius: 100%;
				width: 110px;
				height: 110px;
				display: inline-block;
				overflow: hidden;
				position: relative;
				top: -25px;
				&.heel {
					border: 2px $red solid;
				}
				&.face {
					border: 2px $lightblue solid;
				}
				.win-btn, .win-label {
					position: absolute;
					top: 0;
					z-index: 6;
					font-size: 70px;
					width: 100%;
					text-align: center;
					opacity: 0;
					&:hover {
						opacity: 1;
					}
				}
				.win-label {
					opacity: 0.2;
				}
			}
			h4 {
				font-size: 40px;
				color: #fff;
				text-transform: uppercase;
			}
		}
		.competitor-1 .profile {
			float: left;
			left: -30px;
		}
		.competitor-2 .profile {
			float: right;
			left: 30px;
		}
		.remove-match {
			padding-top: 30px;
			@include align-right;
			a {
				color: #fff
			}
		}

		.add-gimmick, .add-story {
			@include align-center;
			padding: 10px 50px 0;
			div {
				color: white;
				border-radius: 100px;
			}
			a {
				color: #fff;
				opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
		}
		.add-gimmick div {
			background: $gimmick;
			color: #777777;
		}
		.add-story div {
			background: $story;
		}
		.inc-points {
			margin-top: -16px;
		}
	}
}

.pop {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 250px;
    padding: 10px;
    transition:all 0.5s;
    opacity:0;
    visibility:hidden;
    &.active {
    	opacity:1;
    	visibility:visible;
    }
    a {
    	display: block;
    	color: #000;
    }
    li {
    	height: 32px;
	    margin: 5px 0;
    	a, span.hide {
    		padding: 5px 0px 2px 35px;
    	}
    	span.hide {
    		cursor: not-allowed;
    	}
    	.inc-points {
    		float: right;
    		position: relative;
    		top: 3px;
    	}
    	img {
    		width: 30px;
    		display: inline-block;
    		float: left;
    		border-radius: 100px;
            &.heel {
                border: 2px $red solid;
            }
            &.face {
                border: 2px $lightblue solid;
            }
    	}
    	&:hover {
    		background: #fff;
    	}

    	.world-champion {
    	    display: block;
    	    border:1px black solid;
    	    padding: 10px;
    	    margin: 10px;
    	    font-size: 14px;
    	    bottom: 5px;
    	}
    }
}

.champ-belt {
	float: right;
    background:yellow;
    display: inline-block;
    width: 10px;
    border-radius: 100%;
    &.w-champ {
        background:$red;
    }
}

.inc-points span {
	width: 10px;
	height: 10px;
	background: $lightblue;
	display: inline-block;
	border-radius: 100%;
	margin-right: 5px;
}

// footer

.actions {
	border-top: 1px $active1 solid;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $darkGrey;
    padding: 15px;
    font-size: 22px;
    .listed-champ {
    	content: '';
    	border-right: 1px $active1 solid;
    	transform: rotate(45deg);
    	float: right;
    	position: relative;
    	top: -102px;
    	height: 140px;
    	margin-bottom: -150px;
    }
    .column > div {
    	display: inline-block;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
    	color: #fff;
    	padding: 0 10px;
    	img {
    		width: 20px;
    	}
    	    &.fed {
    	    	img {
    	    		width: 50px;
    			    float: left;
    	    	}
    	    	h4 {
    	    		position: absolute;
    	    		top: 20px;
    	    		font-size: 32px;
    	    		color: $active1;
    	    	}
    	    }
    	    &.world-champion {
    	    	width: 100%;
    	    	h2 {
    	    		font-size: 20px;
    	    	}
    	    	img {
    	    		float: left;
    	    		width: 50px;
    	    		border-radius: 50px;
    	    		margin-right: 10px;
    	    	}
    	    }
    }
}

// roster board

// store

.store {
	a {
		color: #000;
	}
	.close-store {
		position: fixed;
		right: 40px;
	}
    height: 0;
    overflow: hidden;
    background: $active1;
    &.is-fullheight{
        height: initial;
        overflow: auto;
        padding: 30px;
        margin: 0;
    }
    ul {
    	padding:0;
    	margin:0;
    }
    .card a {
            position: absolute;
            top: 70px;
            width: 100%;
            text-align: center;
            left: 0;
            font-size: 20px;
            color: $active1;
        }
}

// vote round 
.wchamp-round {
    padding: 50px;
    color: #fff;
    .territory {
        min-height: 200px;
        padding: 40px;
    }
    .vote-card {
        background: rgba(0, 0, 0, 0.5);
        padding: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    h2 {
        font-size: $big;
    }
}

// summary
.summary {
    padding: 50px;
    color: #fff;
    h2 {
        font-size: $big;
    }
}