@import "variables";
/*
// layout
*/

// base, bg and grid
html, body {
	min-height: 100%;
}

body {
	background: #000;
}

.bg, .bg-tint {
	min-height: 100%;
	position: fixed;
	width: 100%;
}

.bg {
	background: url('/images/base.jpg');
	background-size: cover;
}

.bg-tint {
	background: rgba(0, 0, 0, 0.5);
}

.layout {
	position: relative;
    margin-bottom: 200px;
}

// setup
.pickbar {
    position: fixed;
    width: 1152px;
    display: block;
    top: 0px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
}

.card.goal-view {
    position: fixed;
    z-index: 100;
    margin: auto;
    width: 250px;
    left: calc(50% - 125px);
    top: 100px;
    min-height: 330px;
    font-size: 14px;
    p {
        white-space: initial;
    }
}

.player-setup {
    input {
        background: transparent;
        color: white;
        text-transform: uppercase;
        max-width: 140px;
        font-size: 40px;
    }
}

// store

.store-link {
    border-top: 70px $active1 solid;
    @include theme('bt', 70px);
    border-left: 70px transparent solid;
    border-right: 70px transparent solid;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 5;
    left: 10%;
    div {
    	position: relative;
    	top: -60px;
    	left: -18px;
    	a {
    		color: #fff;
    	}
    }
}

.champ-overview {
	color: #fff;
    img {
        width: 40px;
        position: relative;
        top: 3px;
    }
}

.base-belt {
    position: absolute;
    top: 55px;
}

// matchcard
.matchcard {
	padding: 20px;
	.match {
		margin-top: 50px;
		opacity: 0.8;
		&.ready {
			opacity: 1;
		}
		
		.competitor {
			background: rgba(0, 0, 0, 0.35);	
			border-bottom: 1px $active1 solid;
            @include theme('bb', 1px);
			height: 80px;
			.profile {
				border-radius: 100%;
				width: 110px;
				height: 110px;
				display: inline-block;
				overflow: hidden;
				position: relative;
				top: -25px;
				&.heel {
					border: 2px $red solid;
                    img {
                        background: $heel;
                    }
				}
				&.face {
					border: 2px $lightblue solid;
                    img {
                        background: $face;
                    }
				}
				.win-btn, .win-label {
					position: absolute;
					top: 0;
					z-index: 6;
					font-size: 70px;
					width: 100%;
					text-align: center;
					opacity: 0;
					&:hover {
						opacity: 1;
					}
				}
				.win-label {
					opacity: 0.2;
				}
			}
			h4 {
				font-size: 40px;
				color: #fff;
				text-transform: uppercase;
                white-space: nowrap;
			}
		}
		.competitor-1 .profile {
			float: left;
			left: -30px;
		}
		.competitor-2 .profile {
			float: right;
			left: 30px;
		}
		.remove-match {
			padding-top: 30px;
			@include align-right;
			a {
				color: #fff
			}
		}

		.add-gimmick, .add-story {
			@include align-center;
			padding: 10px 50px 0;
			div {
				color: white;
				border-radius: 100px;
			}
			> a {
				opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
		}
		.add-gimmick div {
			background: $gimmick;
			color: #777777;
		}
		.add-story div {
			background: $story;
		}
		.inc-points {
			margin-top: -16px;
		}
	}
}

.pop {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 250px;
    padding: 10px;
    max-height: 333px;
    overflow: auto;
    transition:all 0.5s;
    opacity:0;
    visibility:hidden;
    z-index: 100;
    &.active {
    	opacity:1;
    	visibility:visible;
    }
    a {
    	display: block;
    	color: #000;
    }
    li {
    	max-height: 32px;
	    margin: 5px 0;
    	a, span.hide {
    		padding: 5px 0px 2px 35px;
    	}
    	span.hide {
    		cursor: not-allowed;
    	}
    	.inc-points {
    		float: right;
    		position: relative;
    		top: 3px;
    	}
    	img {
    		width: 30px;
    		display: inline-block;
    		float: left;
    		border-radius: 100px;
            &.heel {
                border: 2px $red solid;
            }
            &.face {
                border: 2px $lightblue solid;
            }
    	}
    	&:hover {
    		background: #fff;
    	}

    	.world-champion {
    	    display: block;
    	    border:1px black solid;
    	    padding: 10px;
    	    margin: 10px;
    	    font-size: 14px;
    	    bottom: 5px;
    	}
    }
}

.champ-belt {
    float: right;
    display: inline-block;
    width: 45px;
    border-radius: 100%;
    top: 8px;
    position: relative;
    text-indent: -99999px;
}

.inc-points span {
	width: 10px;
	height: 10px;
	background: $lightblue;
	display: inline-block;
	border-radius: 100%;
	margin-right: 5px;
}

// footer

.actions {
	border-top: 1px $active1 solid;
    @include theme('bb', 1px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $darkGrey;
    padding: 15px;
    font-size: 22px;
    .button {
        margin-top: 15px;
        &.is-primary {
            margin-top: 10px;
        }
    }
    .listed-champ {
    	content: '';
    	border-right: 1px $active1 solid;
        @include theme('br', 1px);
    	transform: rotate(45deg);
    	float: right;
    	position: relative;
    	top: -102px;
    	height: 140px;
    	margin-bottom: -150px;
    }
    .column > div {
    	display: inline-block;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
    	color: #fff;
    	padding: 0 10px;
    	img {
    		width: 20px;
    	}
    	    &.fed {
                position: relative;
                top: 7px;
    	    	img {
    	    		width: 50px;
    			    float: left;
    	    	}
    	    	h4 {
    	    		position: absolute;
    	    		top: 5px;
    	    		font-size: 32px;
    	    		color: $active1;
                    @include theme('clr');
    	    	}
    	    }
    	    &.world-champion {
    	    	width: 100%;
    	    	h2 {
    	    		font-size: 20px;
    	    	}
    	    	img {
    	    		float: left;
    	    		width: 50px;
    	    		border-radius: 50px;
    	    		margin-right: 10px;
    	    	}
    	    }
    }
}

// roster board

// store

.store {
	a {
		color: #000;
        .fa {
            color: #FFF;
        }
	}
	.close-store {
		position: fixed;
		right: 40px;
	}
    h3 {
        color: #fff;
    }
    height: 0;
    overflow: hidden;
    background: $active1;
    @include theme('bg');
    &.is-fullheight{
        height: initial;
        overflow: auto;
        padding: 30px;
        margin: 0;
    }
    ul {
    	padding:0;
    	margin:0;
    }
    .card a {
            position: absolute;
            top: 70px;
            width: 100%;
            text-align: center;
            left: 0;
            font-size: 20px;
            color: $active1;
            @include theme('clr');
        }
}

// vote round 
.wchamp-round {
    padding: 50px;
    color: #fff;
    .territory {
        min-height: 200px;
        padding: 40px;
        position: relative;
        opacity: 0.5;
        &:after {
            content: "";
            width: 100%;
            display: block;
            height: 100%;
            background: transparent;
            position: absolute;
            top: 0;
            box-sizing: inherit;
        }
        &.current-turn {
            opacity: 1;
            &:after {
                display: none;
            }
        }
    }

    .vote-card {
        background: rgba(0, 0, 0, 0.5);
        padding: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    h2 {
        font-size: $big;
    }
}

.trade-roster {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 20%;
    padding: 10px;
    background: #ccc;
    box-sizing: content-box;
    display: none;
    &.show {
        display: block;
    }
    .tab-heading {
        display: inline-block;
        padding: 0 10px;
        margin-bottom: 10px;
        &.active {
            border: 1px red solid;
        }
    }
    .card a {
            position: absolute;
            top: 70px;
            width: 100%;
            text-align: center;
            left: 0;
            font-size: 20px;
            color: $active1;
            @include theme('clr');
        }
    .swap-roster {
        background: #2d2d2d;
            position: absolute;
            width: calc(100% + -20px);
            padding: 10px;
            box-sizing: border-box;
    }
}

.player-title {
    @include theme('clr');
}

// summary
.summary {
    padding: 50px;
    color: #fff;
    h2, h4 {
        font-size: $big;
    }
    strong {
        color: #fff;
        font-size: $med;
    }
    .notes {
        color: #ffc4c4;
        font-size: 12px;
        display: block;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
}

// end
.end-cash {
    font-size: $big;
    padding: 10px 0;
    &.winner {
        color: $lightblue;
        border: 1px red solid;
        border-radius: 100%;
        display: inline-block;
    }
}
.fa.top3 {
    position: relative;
    top: 3px;
}