$grey: #a7a7a7;

* {
	font-family:sans-serif;
}
a {
	color:white;
	background: red;
}
body {
	background:#ccc;
	font-size:10px;
}
.box {
background: grey;
margin: 10px;
    width: 200px;
display: inline-block;
}
.active {
border:1px red solid;
}
.assigned {
opacity: 0.5;
}
.loading {
    background: hsla(0, 0%, 50%, 0.48);
top: 0;
position: absolute;
width: 100%;
height: 100%;
}

#game {
	> div {
		display:inline-block;
		float:left;
		padding:1%;
		width:30%;
		&:nth-child(1) {
			width:calc(20% - (1% * 2));
			background:$grey;
		}
		&:nth-child(2) {
			width:calc(70% - (1% * 2));
		}
		&:nth-child(3) {
			width:calc(10% - (1% * 2));
			background:$grey;
			h3 {
				font-size:4em;
			}
		}
	}
}
.actions {
	text-align:right;
    border-top: 1px black solid;
    padding-top: 5px;
}
small {
	clear:both;
	float:none;
	display:block;
}