// Import Bulma
@import "../node_modules/bulma/bulma";

body {
    margin-bottom: 60px;
}

.clearfix {
    clear:both;
}
.align_right {
    text-align: right;
}
// overwrites
.section {
    background:none;
}

$grey: #a7a7a7;

.chara_box {
    background: #eaeaea;
    margin: 1%;
    width: 18%;
    display: inline-block;
    padding: 1%;
    border-radius: 4px;
    color: #333;
    h2 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .num {
        float:right;
        background: white;
        width: 25px;
        text-align: center;
        border-radius: 100%;
        height: 25px;
    }
    img {
        width: 100%;
        border: 1px black solid;
        margin: 0 0 10px;
    }
    .hero.is-success & a {
        color:white;
    }
}
.pick_player {
border:3px transparent solid;    
}
.active {
border:3px #5eabdc solid;
}
.assigned, .hide {
opacity: 0.5;
}
.loading {
    background: hsla(0, 0%, 50%, 0.48);
top: 0;
position: absolute;
width: 100%;
height: 100%;
}

.store_link {
    background:#E91E63;
}

		#infosCol {
			background:$grey;
			h3 {
				font-size:4em;
			    margin: 20px 0;
			}
			h4 {
			    font-size: 2em;
    			margin: 0;
			}
		}

.actions {
	border-top: 1px black solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: aliceblue;
}
.select-card {
//	border-bottom:1px black solid;
	padding:5px;
	text-align:center;
    width:700px;
    margin:auto;
    position: relative;
	&.ready {
		background: lightgoldenrodyellow;
        width: 700px;
	}
}

.remove_match {
    float: right;
    position: absolute;
    right: 5px;
    .ready & {
        display: none;
    }
}

.card_holder {
    display: inline-block;
    border: 1px dashed;
    width: 160px;
    height: 200px;
    opacity: 0.5;
    overflow: hidden;
    &.setup {
        background:#fff;
        border:1px solid;
        opacity: 1;
    }
    div {
        height: 100%;
    }
    &:hover {
        opacity: 1;
    }
    .select_btn {
        color:red;
        width: 100%;
        display: block;
        height: 100%;
        &:before {
            content: "-";
            padding-top: 50px;
            display: block;
            color: grey;
            font-size: 40px;
        }
        &:hover {
            &:before {
                content: "+";
            }
        }
    }
}
.summary {
	> div {
		width:25%;
		display:inline-block;
		float:left;
	}
}
.pop {
    position: absolute;
    background: white;
    transition:all 0.5s;
    opacity:0;
    visibility:hidden;
    &.active {
    	opacity:1;
    	visibility:visible;
    }
}
.errors {
    position: fixed;
    color:white;
    background: rebeccapurple;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 50px;
    padding: 10px;
    z-index: 99;
}
.win {
    border: 2px #58b3b5 solid;
    display: block;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    line-height: 4;
    margin: auto;
}
#store {
    height:0;
    overflow:hidden;
    background:#838e65;
    &.is-fullheight{
        height:initial;
        overflow:auto;
        padding:30px;
    }
    ul {
    	padding:0;
    	margin:0;
    }
    li, .card {
		    display: inline-block;
		    width: 100px;
		    border: 1px black solid;
		    margin: 0 3px;
    	}
}

.champ:before {
    content: 'champ';
    background: yellow;
    display: block;
    border-radius: 100%;
}
small {
	clear:both;
	float:none;
	display:block;
}
.overlay {
    background: white;
    position: absolute;
    top: 5%;
    width: 40%;
    left: 30%;
    min-height: 100px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    div {
        padding:10px;
    }
}
.wchamp-overlay {
    top: 15%;
    width: 40%;
    left: 30%;
    z-index: 99;
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0 0 10px 800px rgba(0, 0, 0, 0.36);
}
.champ_belt {
    background:yellow;
    display: inline-block;
    width: 10px;
    border-radius: 100%;
    &.w_champ {
        background:red;
    }
}
.world-champion {
    display: block;
    border:1px black solid;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    bottom: 5px;
}
.wchamp_round {
    background: white;
    padding: 10px;
    text-align: center;
    div.player{
        display: inline-block;
        width: calc(25% - 2px);
        border: 1px black solid;
    }
}
.news_card {
    position: fixed;
    top: 10%;
    background: white;
    width: 200px;
    border: 1px black solid;
    padding: 10px;
    left: calc(50% - 100px);
    height: 250px;
}

.center_panel {
    width: calc(100% - 130px); 
    display: inline-block;
    padding: 0 20px;
}

.player_details {
    h1 {
        font-size:2em;
    }
    p {
        font-size: 1em;
    }
}

.reg_grid {
    height: 210px;
    overflow-x: hidden;
    position: absolute;
    width: 10%;
    min-width: 160px;
    transition:width 200ms, margin 200ms;
    margin-left: -20px;
    &:hover {
        margin-left:0;
    }
    &.expand {
        width:100%;
        overflow: auto;
        height: initial;
        z-index: 9;
        min-width:auto;
        margin-left:0;
    }
    .expand_menu {
        position: absolute;
        background: rgba(245, 245, 220, 0.5);
        width: 150px;
        height: 200px;
        text-align: center;
        font-size: 40px;
        padding-top: 60px;
        opacity:0;
        &:hover {
            opacity: 1;
        }
    }
    .close_menu {
        position: absolute;
        right: 15px;
        top: 5px;
        background: #00ffd5;
        border-radius: 100%;
        width: 20px;
        text-align: center;
    }
}

.reg_col {
        display:inline-block;
        float:left;
        width: 150px;
        background: aliceblue;
        margin: 0 10px 10px 0;
        height: 200px;
    }

.c_base {
    background:rgba(255, 250, 245, 1);
    padding: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    font-size: 0.6em;
    &.c_active {
        background:#c0c2c3;
    }
    h4 {
        font-weight: bold;
        font-size: 1.2em;
    }
}

.c_wrestler {
    &.heel {
        background: #fff1f1;
    }
    &.face {
        background: #f1f6ff;
    }
    .w_val {
        float:right;
    }
    hr {
        margin: 0.1rem 0;
    }
}
.close_errors {
    float:right;
}
.roster_label {
    background: white;
    color: grey;
    padding: 2px 6px;
    margin: 2px;
    display: inline-block;
    border-radius: 2px;
}