/*
// variables
*/

// colours

$grey: #a7a7a7;
$darkGrey: #2C2C2C;
$active1: #41BFD6;
$gimmick: #DDFF80;
$story: #F08181;
$lightblue: #94EDFD;
$red: #ef5353;

// font sizes
$big: 32px;

// mixins
@mixin align-right {
	text-align: right;
}

@mixin align-center {
	text-align: center;
}