<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Territory</title>

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="game">

<div>// menus</div>

<div>
  <div v-for="(player, index) in game.players" v-if="index == turn">
    <h1>{{player.name}}</h1>
    matchcard
  </div>
  <!-- Actions -->
  <div class="actions">
    <div v-if="turn == 'REVIEW'">SUMMARY <button @click="nextRound()">Next round</button></div>
    <button @click="nextTurn()" v-if="turn != 'REVIEW'">Next</button>
  </div>
</div>

<div>
<h2>Round</h2>
<h3>{{game.round}}</h3>
</div>

<small>
  <hr>
	<div v-for="player in game.players">{{player}}<br></div>
<br>
      goal: {{game.goal}}<br>
      news: {{game.news}}<br>
      roster: {{game.roster}}<br>
      stories: {{game.stories}}<br>
      gimmicks: {{game.gimmicks}}<br>
      tv: {{game.tv}}<br>
      arena: {{game.arena}}<br>
      legends: {{game.legends}}
</small>


</div>
  <!-- JS -->
  <script src="vue.js"></script>
  <script src="dist/game.js"></script>
</body>
</html>