<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Territory</title>

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="game">

<div>
  // menus
<div v-for="(player, index) in game.players" v-if="index == turn">
<!-- Roster list -->
    // Roster
    <ul>
      <li v-for="(wrestler, index) in player.roster">{{findWrestler(wrestler).Name}} ({{findWrestler(wrestler).val}}) +{{findWrestler(wrestler).inc}} 
        <div v-if="findWrestler(wrestler).isChamp" class="champ_belt">-</div>
        <div v-if="findWrestler(wrestler).isWChamp" class="champ_belt w_champ">-</div>
      </li>
    </ul>
    // Gimmicks
    <ul>
      <li v-for="(gimmick, index) in player.gimmicks">{{findGimmick(gimmick).Name}}</li>
    </ul>
    // Stories
    <ul>
      <li v-for="(story, index) in player.stories" 
        @click="detailX(findStory(story).requires, findWrestler(player.roster[0]), findWrestler(player.roster[1]))">
        {{findStory(story).Name}}
        <ul v-if="findStory(story).active" style="background:#c0c2c3;">
        <li><em>({{listReqs(findStory(story).requires)}})</em></li>
        <li v-show="findStory(story).active"><span>Part {{findStory(story).current}} of {{findStory(story).lengthDur}}</span></li>
        <li v-if="findStory(story).competitors[0]">
          {{findWrestler(findStory(story).competitors[0]).Name}} / {{findWrestler(findStory(story).competitors[1]).Name}}
        </li>
        </ul>
      </li>
    </ul>
    // Legends 
    <ul>
      <li v-for="(legend, index) in player.legends">{{findWrestler(legend).Name}}</li>
    </ul>
    // TV {{player.tv}}
    // Arena {{player.arena}}
    // Discards {{player.discards}}
    <div>loan: {{game.champLoan}}</div>
</div>
    <div class="world-champion" v-if="game.wChamp">
      <h2>World Champion - {{findWrestler(game.wChamp).Name}}</h2>
      <div v-for="(player, index) in game.players" v-if="player.hasWChamp">
          {{player.name}}
      </div>
    </div>
</div>

<div>

<div id="store" v-bind:class="{'show':showStore}">
  <a @click="openStore(false)">|X|</a>
  store<br>
  <h3>Roster</h3> 
  <ul><li v-for="wrestler in game.roster" v-if="!findWrestler(wrestler).isWChamp">
    <a @click="purchaseRoster(wrestler, findWrestler(wrestler).val)">{{findWrestler(wrestler).Name}} {{findWrestler(wrestler).val}}</a> 
  </li></ul>
  <h3>Story</h3>
  <div class="card" @click="purchaseStory()" v-bind:class="{'hide':checkNum(game.stories)}">Take story</div>
<!--   <ul><li v-for="story in game.stories">{{story}}</li></ul> -->
  <h3>Gimmicks</h3>
  <div v-show="game.gimmicks" class="card" @click="purchaseGimmick()" v-bind:class="{'hide':checkNum(game.gimmicks)}">Take gimmick</div>
<!--   <ul><li v-for="gimmick in game.gimmicks">{{findGimmick(gimmick).Name}}</li></ul> -->
  <h3>TV</h3>
  <div v-if="game.tv" class="card"><a @click="getTv()">TV CARDS ({{game.tv}} left)</a></div>
  <h3>Arena</h3>
  <div v-if="game.arena" class="card"><a @click="getArena()">ARENA ({{game.arena}} left)</a></div>
  <h3>Legends</h3>
  <ul><li v-for="(legend, index) in game.legends"><a @click="purchaseLegend(legend, index)">{{findWrestler(legend).Name}}</a></li></ul>
</div>

<a @click="openStore(true)">store</a>

  <div v-for="(player, index) in game.players" v-if="index == turn">
    <div v-if="validate" class="errors">Errors</div>
    <h1>{{player.name}} <div v-if="player.hasWChamp" class="champ_belt w_champ">-</div></h1> {{player.tokens + ' token'}}

    <p>Current champ: 
      <span v-if="!player.champSet">VACANT</span>
      <span v-if="player.champSet">{{findWrestler(player.champSet).Name}}</span>
    </p>
    
    <div v-for="(match, index) in player.matchcard">
      {{index}} {{match.ready}}
      <div class="select-card" v-bind:class="{ ready: match.ready}">
       <a @click="removeMatch(player, index)" style="float:right;">Remove M</a>
      <div class="card-holder" v-if="match.ready" style="float:left;" v-bind:class="{ setup: match.gimmick}">
        <div @click="openGimmick(index)" v-show="!match.gimmick">add gimmick</div>
        <div v-if="match.gimmick">{{findGimmick(match.gimmick).Name}} {{findWrestler(match.gimmickAffect).Name}}</div>
      </div>
      
      <div class="card-holder" v-bind:class="{ setup: match.competitors[0]}">
        <div @click="openRoster(index, 0)">+</div> 
        <div v-if="match.competitors[0]" v-bind:class="{'heel':findWrestler(match.competitors[0]).heelface === 'H', 'face':findWrestler(match.competitors[0]).heelface == 'F', 'champ':findWrestler(match.competitors[0]).isChamp}">
          {{findWrestler(match.competitors[0]).Name}}
          <span v-if="match.competitors[0] == match.winner" class="win">WIN</span>
          <a v-if="!match.winner || match.competitors[0] != match.winner" @click="setWinner(match, match.competitors[0], index)">Winner?</a>
        </div>
      </div>
      <div class="card-holder" v-bind:class="{ setup: match.competitors[1]}">
      <div @click="openRoster(index, 1)">+</div> 
        <div v-if="match.competitors[1]" v-bind:class="{'heel':findWrestler(match.competitors[1]).heelface === 'H', 'face':findWrestler(match.competitors[1]).heelface == 'F', 'champ':findWrestler(match.competitors[1]).isChamp}">
          {{findWrestler(match.competitors[1]).Name}}
          <span v-if="match.competitors[1] == match.winner" class="win">WIN</span>
          <a v-if="!match.winner || match.competitors[1] != match.winner" @click="setWinner(match, match.competitors[1], index)">Winner?</a>
        </div>
      </div>

      <div class="card-holder" v-if="match.ready" style="float:right;" v-bind:class="{ setup: match.story}">
        <div @click="openStory(index)" v-show="!match.story">add story</div>
        <div v-if="match.story">{{findStory(match.story).Name}}</div>
      </div>

      </div>
    </div>

      <div class="pop poproster" v-bind:class="{ active: popRoster }">
        <a @click="closePop()">|x|</a>
        <ul><li v-for="(wrestler, index) in player.temproster">
          <a @click="addToCard(index, wrestler)">{{findWrestler(wrestler).Name}} {{findWrestler(wrestler).heelface}}</a>
          <div v-if="findWrestler(wrestler).isChamp" class="champ_belt">-</div>
          <div v-if="findWrestler(wrestler).isWChamp" class="champ_belt w_champ">-</div>
        </li></ul>
      </div>

      <div class="pop popgimmick" v-bind:class="{ active: popGimmick }">
        <a @click="closePop()">|x|</a>
        <ul>
          <li v-for="(gimmick, index) in player.gimmicks" v-bind:class="{ hide: findGimmick(gimmick).type == 'TITLECHANGE' && titleCards == false }"><a @click="addGimmickCard(gimmick, index)">{{findGimmick(gimmick).Name}}</a></li>
        </ul>
      </div>

      <div class="pop popstory" v-bind:class="{ active: popStory }" v-if="player.matchcard[currentMatch]">
        <a @click="closePop()">|x|</a>
        <ul>
          <li 
          v-if="player.matchcard[currentMatch].ready" 
          v-for="(story, index) in player.stories"
          v-bind:class="{'hide':!summRes([findWrestler(player.matchcard[currentMatch].competitors[0]),findWrestler(player.matchcard[currentMatch].competitors[1])], findStory(story).requires) || myStory(story, player.matchcard[currentMatch].competitors)}">
          <a @click="addStoryCard(story, index)">{{findStory(story).Name}}</a>
          </li>
        </ul>
      </div>

      <div v-if="showModal" class="overlay">
        <a @click="closeOverlay()">|x|</a>
        <div v-if="setChampNow">
          <h2>YOU NEED TO SET A CHAMP</h2>
          <button @click="showChampRosterFunc()" v-if="!showChampRoster">Set Champ</button>
          <button @click="closeOverlay()" v-if="!showChampRoster">Nope</button>
          <ul v-if="showChampRoster">
            <li v-for="w in player.roster" v-if="findWrestler(w).type == 'singles'">{{findWrestler(w).Name}} <a @click="makeChamp(w)">babing</a></li>
          </ul>
        </div>
      </div>

  </div>
  <div v-if="turn == 'REVIEW'" class="summary">
    <h2>SUMMARY</h2> 
    <div v-for="result in summaryValues">
      <div v-for="(match, index) in result.matches">match {{index + 1}}: {{match}}</div>
      <div>Bonus: {{result.bonus}}</div>
      <div><strong>TOTAL: {{result.total}}</strong></div>
    </div>
  </div>
  <!-- Actions -->
  <div class="actions">
    {{turn}}
    <div v-if="turn == 'REVIEW'">
      <button @click="nextRound()">Next round</button>
    </div>
    <div v-if="turn == 'WCHAMP'">
      Do votez and token claim
      <div class="wchamp_round">
        <div v-for="(player, index) in game.players">
          {{player.name}} ({{player.tokens}})<br> - {{player.hasWChamp}}
          <button @click="wChampVoteYes(index)" v-if="!player.hasWChamp">loan</button> 
          <button v-if="player.tokens >= 3" @click="switchWChamp(index)">switch</button>
        </div>
          <div class="vote-card" v-if="voteCard.length">
        <ul>
          <li v-for="(vote, index) in voteCard">
            <span v-if="vote.vote == true">YES</span>
            <span v-if="vote.vote == false">NO</span>
            <span v-if="vote.vote == null"><a @click="voteThis(true, index)">Yeah</a> <a @click="voteThis(false, index)">Na</a></span>
          </li>
        </ul>
      </div>
      <div v-if="voteRejectedMsg">Your request has been declined <button @click="wChampVoteNo()">OK</button></div>
      <div v-if="voteApprovedMsg">{{game.players[tempIndex].name}} will host the world champion {{findWrestler(game.wChamp).Name}}! <button @click="wChampVoteNo()">OK</button></div>
      <div v-if="switchWChampMsg">
          Arrange a new world champion
          <div v-if="game.players[tempIndex].hasWChamp">You already have the champ :)</div>
          <div v-if="game.players[tempIndex].tokens < 3">You need 3 tokens to claim world champ</div>
          <div v-if="game.players[tempIndex].tokens >= 3">Who?
            <ul>
              <li v-for="(wrestler, index) in game.players[tempIndex].temproster" v-if="isWChampAble(wrestler)"><a @click="setWChampMatch(wrestler, index, tempIndex)">{{findWrestler(wrestler).Name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <button @click="goToRegularRounds()">Go to rounds</button>
    </div>
    <button @click="nextTurn()" v-if="turn !== 'REVIEW' && turn !== 'WCHAMP'">Next</button>
  </div>
</div>

<div>
<h2>Round</h2>
<h3>{{game.round}}</h3>
<h4 v-for="(player, index) in game.players" v-if="index == turn">${{player.cash}}.00</h4>
</div>

<small>
  <hr>
  {{game}}
<!-- 	<div v-for="player in game.players">{{player}}<br></div> -->
<br>
      goal: {{game.goal}}<br>
      news: {{game.news}}<br>
      roster: {{game.roster}}<br>
      stories: {{game.stories}}<br>
      gimmicks: {{game.gimmicks}}<br>
      tv: {{game.tv}}<br>
      arena: {{game.arena}}<br>
      legends: {{legendRoster}}
</small>


</div>
  <!-- JS -->
  <script src="vue.js"></script>
  <script src="dist/game.js"></script>
</body>
</html>