<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Territory</title>

  <!-- CSS -->
  <link rel="stylesheet" href="style.css">
  <style type="text/css">
  .box {
    background: grey;
    margin: 10px;
        width: 200px;
    display: inline-block;
    }
  .active {
    border:1px red solid;
  }
  .assigned {
    opacity: 0.5;
  }
  .loading {
        background: hsla(0, 0%, 50%, 0.48);
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  </style>
</head>
<body>
<div id="app">
<h1>New game</h1>
<a @click="newPlayer">Start New game</a>
<ol>
  <li v-for="(player, index) in game.players" v-bind:class="{ active: currentPlayer == index, assigned: player.ready }">
    PLAYER {{index}} (${{player.cash}}) - 
    <span v-for="guy in player.roster">{{rawRoster[guy - 1].Name}}, </span>
    <a @click="donePurchase()" v-if="!player.ready">Finished</a>
  </li>
</ol>
<a @click="newPlayer" v-if="game.players.length && game.players.length < 4">Add player</a>
<a @click="pickRoster" v-if="game.players.length">Start game</a>

<hr/>
<h2>Make selection: Player {{currentPlayer + 1}}</h2>
<wrestler v-for="guy in game.roster" v-bind:data="rawRoster[guy - 1]" v-bind:cash="game.players[currentPlayer].cash >= rawRoster[guy - 1].val"></wrestler>
<hr/>
<div class="loading" v-if="loading">LOADING!!!
<a @click="saveData">Ready!</a>
<a href="game.html">go!</a>
</div>
<small>{{game}}</small>
</div>
  <!-- JS -->
  <script src="vue.js"></script>
  <script src="app.js"></script>
</body>
</html>