<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Territory</title>

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div id="app">
<h1>New game</h1>
<a @click="newPlayer">Start New game</a>
<ol>
  <li v-for="(player, index) in game.players" v-bind:class="{ active: currentPlayer == index, assigned: player.ready }">
    <input v-model="player.name" v-bind:placeholder="'Player ' + (index + 1)"> (${{player.cash}}) - 
    <span v-for="guy in player.roster">{{rawRoster[guy - 1].Name}}, </span>
    <a @click="donePurchase()" v-if="!player.ready">Finished</a>
  </li>
</ol>
<a @click="newPlayer" v-if="game.players.length && game.players.length < 4">Add player</a>
<a @click="pickRoster" v-if="game.players.length">Start game</a>

<hr/>
<h2>Make selection: Player {{currentPlayer + 1}}</h2>
<wrestler v-for="guy in game.roster" v-bind:data="rawRoster[guy - 1]" v-bind:cash="game.players[currentPlayer].cash >= rawRoster[guy - 1].val" v-if="!rawRoster[guy - 1].isWChamp"></wrestler>
<hr/>
<div class="loading" v-if="loading">LOADING!!!
<a @click="saveData">Ready!</a>
<a href="game.html">go!</a>
</div>
<small>{{game}}</small>
</div>
  <!-- JS -->
  <script src="vue.js"></script>
  <script src="/dist/app.js"></script>
</body>
</html>